@import "materialize/materialize.scss"

header-nav
  ul
    height: 40px
    line-height: 40px
    li
      display: inline-block
      margin: 0 15px
      position: relative
      .sub
        background: #fff
        position: absolute
        border: 1px solid #ccc
        left: 0
        width: 100px
        height: auto
        li
          display: block
