@import "elements/base"


// font-size
$font-xs: 13px
$font-s: 14px
$font-m: 16px
$font-l: 20px
$font-xl: 22px

// color
$color-main: #DF3A5E
$color-txt1: #666
$color-txt2: #999
$color-hover1: #f8f8f8
$color-line1: #ebebeb
$color-line2: #e3e3e3
$color-link: #575E85
$color-info: #3198CC
$color-warning: #EB9D00
$color-error: #F44C4C
$color-success: #29AE39

// font-family
$font-primary: "Arial", "SimHei", "STHeiti"

// box shadow
=shadow-block()
  box-shadow: 0 2px 4px rgba(#000, 0.08)
=shadow-main()
  box-shadow: 0 4px 4px -2px rgba(#000, .2) inset

// global
*
  &:focus
    outline: none

body
  color: #222
  font-family: $font-primary
  font-size: $font-s
  &.admin
    background: #F3F3F3

a
  text-decoration: none
  color: $color-link
  &:hover
    color: lighten($color-link, 10%)

hr
  border: none
  border-top: 1px solid #eee
  border-bottom: 1px solid #f5f5f5
  margin: 20px 0

h1
  margin: 0
  font-size: $font-xl

.container
  +layout-container()
  position: relative

.row
  +gridle(row)

.btn-icon
  display: inline-block
  min-width: 30px
  cursor: pointer
  &:hover
    color: $color-main

.warning-box
  +alert($color-warning)
  width: auto
  text-align: center
  font-size: $font-m

.btn-main
  +btn-1()

.btn-yellow
  +btn-2()

.btn-gray
  +btn-3()


//
// header
//
@import "fp/header"
header
  // 登录成功后
  &.user, &.admin
    background: #E01B46
    h1
      +gridle(9.5 prefix 0.5)
      color: #fff
  // 登录界面
  &.login
    background: #fff
  h1
    +gridle(11 prefix 0.5)
    color: $color-txt1
    background-image: url(../img/fp/header-logo.jpg)
    background-position: left center
    background-repeat: no-repeat
    background-size: 50px 50px
    height: 80px
    line-height: 80px
    text-indent: 60px



//
// main
//
@import "fp/form"
@import "fp/table"
main
  +shadow-main()
  overflow: hidden
  // 登录后
  &.admin
  &.user
    h1
      +gridle(10 prefix 1)
  // 登录页
  &.login
    background: #F2EDEF
    form
      +form-login()



//
// section
//
// +ani-fadein()
section
  +gridle(prefix 2.3 suffix 0.5)
  min-height: 700px
  overflow: hidden
  // animation: fadeIn .1s
  h2
    font-weight: normal
    font-size: $font-s
    margin: 0
    padding: 20px 0

//
// footer
//
footer
  .info
    padding: 35px
    text-align: center
    line-height: 16px
    color: $color-txt2
    font-size: $font-xs
    margin-top: 30px
  &.admin
    .info
      +gridle(9 push 2.3 prefix 0)
      // border-top: 1px solid $color-line1

//
// pagination
//
.pagination
  +gridle(float right)
  +pagination-ul-select(#fff, #222, $color-main)
  a, select
    +shadow-block()

//
// sidenav
//
admin-sidenav
  +gridle(2)
  position: absolute
  top: 0
  left: 0
  height: 100%
  background: #212329
  z-index: 2
  border-bottom-right-radius: 5px
  ul
    list-style: none
    margin: 50px 0 0
    padding: 0
    &.child
      margin-top: 0
      margin-left: 20px
      li
        &:first-child
          a
            // border-top: none
  li
    height: 38px
    &:first-child
      a
        // border-top: 1px solid rgba(#fff, 0.1)
  a
    border-bottom: 1px solid rgba(#fff, 0.1)
    display: block
    color: rgba(#fff, 0.5)
    height: 38px
    margin-left: 20px
    padding-left: 20px
    line-height: 38px
    &:hover
      color: rgba(#fff, 0.9)
    &.active
      color: rgba(#fff, 0.9)
      background: #333

//
// input-select
//
input-select
  ul
    z-index: 33
    max-height: 200px
    overflow: auto
    background: #fff
    width: 99.5%
    top: 20px
    left: 0
    border-radius: 3px
    border: 1px solid $color-line1
    border-bottom: none
    li
      cursor: pointer
      padding: 8px
      border-bottom: 1px solid $color-line1
      overflow: hidden
      &.active, &:hover
        background: #fbe0e0
        color: $color-main

// modal

// upload-formdata
upload-formdata
  input[type=file]
    color: #ccc
  button
    +btn-3(25px)
