//
// getColor Function
// --------------------------------------------------
// Easily retrieve colors from the $colors map.
//

@function getColor($color, $value: "base") {
  @return map-get(map-get($colors, $color), $value);
}

//
// Color Palette
// --------------------------------------------------
// Use the getColor() function to use those values in
// your stylesheets. Example: getColor(base, primary)

$colors: (
  base: (
    "primary":   #DF3A5E,
    "secondary": #EBE1D3,
    "lines":     #DCDCDC
  ),

  border: (
    "input":     #e3e3e3,
    "table":     #eee
  ),

  text: (
    "primary":   #222,
    "secondary": #999,
    "primary-invert": #fff,
    "link": #575E85
  ),

  alert: (
    "success-text": #29AE39,
    "success-border": rgba(#87D068, .4),
    "success-bg": rgba(#87D068, .3),
    "warning-text": #EB9D00,
    "warning-border": rgba(#FFAA01, .3),
    "warning-bg": rgba(#FFD501, .2),
    "error-text": #F44C4C,
    "error-border": rgba(#F34C4C, .2),
    "error-bg": rgba(#F34C4C, .16),
    "text": #3198CC,
    "border": rgba(#37ABE6, .3),
    "bg": rgba(#37ACE6, .2)
  ),

  background: (
    "dark":  #32373d,
    "light": #f3f3f3,
    "body":  white,
    "focus": rgba(#FAFFBD, .8)
  ),

  gray: (
    "darker":  #333333,
    "dark":    #4d4d4d,
    "base":    #666666,
    "light":   #808080,
    "lighter": #999999
  )
) !default;
