$font-xs: 13px !default;
$font-s: 14px !default;
$font-m: 16px !default;
$font-l: 20px !default;
$font-xl: 28px !default;

// Font families
$font-primary: "黑体", "Arial", sans-serif !default;
$font-secondary: "Helvetica", "Arial", sans-serif !default;
$font-mono: "Consolas", monospace !default;
$font-print-primary: "Georgia", "Times New Roman", "Times", serif !default;
$font-print-secondary: "Georgia", "Times New Roman", "Times", serif !default;
