

table.base
  +shadow-block()
  +table()
  width: 99.9%
  border-radius: 5px
  b
    color: $color-main

// 过滤条上方的tab切换
.table-tab
  height: 36px
  a
    display: block
    float: left
    margin: 0 0 0 5px
    height: 36px
    line-height: 36px
    min-width: 100px
    background: $color-line2
    color: $color-txt2
    text-align: center
    border-top-left-radius: 3px
    border-top-right-radius: 3px
    border: 1px solid $color-line2
    border-bottom: none
    &.active
      color: $color-main
      background: #fff




// 表单过滤条
table-filter
  width: 99.9%
  display: block
  background: #fff
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  overflow: hidden
  div
    display: inline-block
    margin: 5px 15px
    line-height: 40px
    .tab-sub
      &:last-child
        border: none
      &.active
        color: $color-main
      line-height: 20px
      height: 20px
      padding: 0 10px
      margin: 0
      border-right: 1px solid $color-line1
    // 附加按钮靠右
    &.addon
      float: right
  input, select, button, a
    display: inline-block
    vertical-align: middle
    margin-left: 10px
  input[type=text], select
    +input-text(34px, 0 0 0 10px, 3px)
  button
    &.main
      +btn-1(36px)
    &.gray
      +btn-3(36px)
    padding: 1px 10px
  a
    margin-left: 10px


// 项目进度
.project-perform
  min-width: 800px
  .title
    font-size: $font-l
    margin-left: 8%
  .step-box
    padding-top: 15px
    width: 50px
    text-align: center
    float: left
  .step-num
    width: 34px
    height: 34px
    border-radius: 34px
    background-color: #D1D3D7
    color: #fff
    text-align: center
    line-height: 34px
    border: 8px solid #fff
    &.active
      background-color: $color-main
  .step-line
    height: 40px
    width: 0
    border-right: 1px solid $color-line2
    margin: 0 auto
  .process-list
    float: left
    margin-left: 30px
    min-width: 600px
    width: 88%
    border: 1px solid $color-line1
    border-bottom: none
    border-radius: 5px
    .line
      &.odd
        background-color: #fafafa
      height: 90px
      border-bottom: 1px solid $color-line1
      h4
        font-size: $font-m
        border: none
        font-weight: normal
        padding: 18px 18px 0 18px
        margin-bottom: 0
      p
        padding: 0 18px
        color: $color-txt1
        position: relative
        span, button
          float: right
          margin: -20px 5px 0 0
        span
          display: inline-block
          text-align: center
          width: 90px
          color: $color-success
          margin: -12px 5px 0 0
        button
          width: 90px
          height: 30px
          line-height: 24px
        upload-formdata
          input[type=file]
            width: 90px
            height: 30px
            position: absolute
            right: 22px
            top: -20px
            z-index: 44
            opacity: 0
            cursor: pointer
            display: block
          button
            +btn-1(30px)
            line-height: 25px
            &[disabled]
              +btn-3(30px)
